input.ng-invalid.ng-dirty {
  border-color: red;
  box-shadow: 0 0 0 0.2rem rgba(255, 7, 7, 0.25);
  border-left: 7px solid red;
}
input.ng-valid.ng-dirty {
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(9, 237, 62, 0.25);
  border-left: 7px solid #28a745;
}
/* .row {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
} */
